* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter',sans-serif;
}

body {
  background-color: #021a30;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.app-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #01121f;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  height: 80px;
  
}

.capys-logo-home {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  margin-left: 20%;
}

.capys-logo-home img {
  max-width: 100px;
  height: auto;
}
.exit-button {
  width: fit-content;
   max-width: 120px; 
  background-color: #021a30;
  padding: 0.50rem 1rem;
  border-radius: 0.25rem;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
  margin-right: 20%;
}

.welcome-container {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background-color: #01121f;
  border-bottom: 1px solid #1a2a3e;
  height: 120px;
  margin-top: 3px;
  
}

.welcome-message {
  color: white;
  font-weight: 700;
  font-size: 16px;
  margin-left: 20%;
}

.developer-info {
  margin-left: auto;
  font-size: 12px;
  color: #8c8c8c;
  margin-right: 20%;
  
 
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 50px;
  padding-left: 25px;
  background-color: #021a30;

}

.development-message {
  font-size: 18px;
  margin-bottom: 15px;
  margin-left: 20%;
}

.development-details {
  font-size: 14px;
  color: #a0a0a0;
  margin-left: 20%;

}


@media (max-width: 640px) {
  .exit-button {
    font-size: 14px;
    padding: 0.50rem 1rem;
    margin-right: 0%;
    background-color: #01121f;
  }

  .capys-logo-home {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-left: 0%;
  }

  .welcome-message {
    color: white;
    font-size: 16px;
    margin-left: 0%;
  }
  
  .developer-info {
    margin-left: auto;
    font-size: 12px;
    color: #8c8c8c;
    margin-right: 0%;
  }

  .development-message {
    font-size: 18px;
    margin-bottom: 15px;
    margin-left: 0%;
    
  }
  
  .development-details {
    font-size: 14px;
    color: #a0a0a0;
    margin-left: 0%;
  
  }
  
}